:root {
    --primary: white;
    --secondary: black;
    --tertiary: gray;
}

/* Body Section */
body {
    /* font-family: ; */
}
/* Header Section */
header {
background-color: var(--tertiary);
}

header h1 {
    text-align: left;
}

header ul {
    text-align: right;
}
/* Main Section */

/* Footer Section */
footer {
    background-color: var(--tertiary);
    /* position: */
}

footer p {
    color: var(--tertiary);
    filter: brightness(0.7);
    text-align: center;
}