:root {
    --primary: rgb(132, 22, 196);
    --secondary: #333940;
    --tertiary: rgb(214, 196, 93);
    --quaternary: azure;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* BODY SECTION */
body {
    display: flex;
    flex-direction: column;
    background-color: var(--secondary);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: azure;
}

a {
    color: var(--quaternary);
    text-decoration: none;
}

/* HEADER SECTION */
header {
    background-color: var(--tertiary);
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
}

header h1 {
    display: inline-block;
}

header ul {
    list-style-type: none;
}

header ul li {
    display: inline-block;
    margin-left: 25px;
}

/* MAIN SECTION */
/* .banner section */
.banner {
    position: relative;
    width: 100%;
    height: 161px;
    background-color: var(--primary);
}

.profile-picture {
    position: relative;
    border: 2px solid var(--quaternary);
    margin: 3px;
}

.banner h2 {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: var(--tertiary);
    padding: 5px;
    border: 2px solid var(--secondary);
    margin: 20px 40px;
}
/* .container section */
.container {
    display: flex;
    flex-direction: column;
    flex: wrap;
    justify-content: center;
    width: 100%;
}

/* .segment section */
.segment {
    display: flex;
    flex-direction: row;
}

/* .title section */
.title {
    display: block;
    width: 10%;
    background-color: var(--tertiary);
    background-clip: content-box;
    text-align: right;
    margin: 10px;
}

.content {
    display: block;
    width: 100%;
}

/* .project-links section */
#project-links {
    display: inline-flex;
    flex-wrap: wrap;
}

#project-links img {
    border: 5px solid var(--tertiary);
    margin: 5px;
}

#contact-me-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact-me-content ul {
    list-style-type: none;
}

#contact-me-content ul li {
    display: inline-block;
    margin-left: 25px;
}

/* FOOTER SECTION */
footer {
    background-color: var(--tertiary);
    /* position: */
}

footer p {
    color: var(--tertiary);
    filter: brightness(0.6);
    text-align: center;
}